.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: none; /* Removes any background */
    transform: rotate(100deg); /* Slant to the right */
    justify-content: center;
    background: linear-gradient(to right, #032850, #00c6ff);
    box-shadow: 0 0 10px rgba(0, 198, 255, 0.7);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    animation: bounce 0.5s ease-in-out infinite alternate;
  }

  .chat-icon:hover {
    transform: rotate(15deg) scale(1.1); /* Slight zoom effect on hover */
    filter: drop-shadow(0 0 15px rgba(30, 144, 255, 0.9));
    
  }


  
  .chat-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  
  @keyframes bounce {
    0% {
      transform: rotate(15deg) translateY(0);
    }
    100% {
      transform: rotate(15deg) translateY(-10px);
    }
  }